Repository harmony-one/harmony, pull requests merged in 2020-07, with the labels that each got.

#3237 Node API Tests & README update (Stage 1 of Node API Overhaul)
  .travis.yml
  Dockerfile
  Makefile
  README.md
  scripts/travis_checker.sh
  scripts/travis_node_checker.sh
  test/all.sh
  test/api.sh
  test/configs/local-resharding.txt
  test/debug.sh
  test/deploy.sh
  test/go.sh
Labels: enhancement, localnet

#3244 Node API Refactor (Stage 2.1 of Node API Overhaul)
  Makefile
  README.md
  hmy/api_backend.go
  hmy/backend.go
  hmy/blockchain.go
  hmy/hmy.go
  hmy/network.go
  hmy/pool.go
  hmy/staking.go
  hmy/transaction.go
  internal/hmyapi/apiv1/backend.go
  internal/hmyapi/apiv1/blockchain.go
  internal/hmyapi/apiv1/debug.go
  internal/hmyapi/apiv1/harmony.go
  internal/hmyapi/apiv1/net.go
  internal/hmyapi/apiv1/sendtxargs.go
  internal/hmyapi/apiv1/transactionpool.go
  internal/hmyapi/apiv1/util.go
  internal/hmyapi/apiv2/backend.go
  internal/hmyapi/apiv2/blockchain.go
  internal/hmyapi/apiv2/debug.go
  internal/hmyapi/apiv2/harmony.go
  internal/hmyapi/apiv2/net.go
  internal/hmyapi/apiv2/sendtxargs.go
  internal/hmyapi/apiv2/transactionpool.go
  internal/hmyapi/apiv2/util.go
  internal/hmyapi/backend.go
  internal/hmyapi/filters/api.go
  internal/hmyapi/filters/filter.go
  internal/hmyapi/filters/filter_criteria.go
  internal/hmyapi/filters/filter_system.go
  node/rpc.go
Labels: refactor, rpc

#3219 [cmd] Migrate BLS load logic to harmony binary.
  cmd/harmony/bls.go
  cmd/harmony/main.go
  crypto/bls/bls.go
  go.mod
  internal/blsgen/console.go
  internal/blsgen/console_test.go
  internal/blsgen/helper.go
  internal/blsgen/helper_test.go
  internal/blsgen/kms.go
  internal/blsgen/kms_test.go
  internal/blsgen/lib.go
  internal/blsgen/loader.go
  internal/blsgen/loader_test.go
  internal/blsgen/params.go
  internal/blsgen/passphrase.go
  internal/blsgen/passphrase_test.go
  internal/blsgen/utils.go
  internal/blsgen/utils_test.go
  multibls/multibls.go
  scripts/go_executable_build.sh
  scripts/node.sh
Labels: enhancement

#3259 Node API Refactor - pt2 (Stage 2.2 of Node API Overhaul)
  hmy/blockchain.go
  hmy/hmy.go
  hmy/net.go
  hmy/staking.go
  internal/hmyapi/README.md
  internal/hmyapi/apiv1/addrlock.go
  internal/hmyapi/apiv1/blockchain.go
  internal/hmyapi/apiv1/debug.go
  internal/hmyapi/apiv1/harmony.go
  internal/hmyapi/apiv1/net.go
  internal/hmyapi/apiv1/transactionpool.go
  internal/hmyapi/apiv1/types.go
  internal/hmyapi/apiv1/util.go
  internal/hmyapi/apiv2/addrlock.go
  internal/hmyapi/apiv2/blockchain.go
  internal/hmyapi/apiv2/debug.go
  internal/hmyapi/apiv2/error.go
  internal/hmyapi/apiv2/harmony.go
  internal/hmyapi/apiv2/net.go
  internal/hmyapi/apiv2/transactionpool.go
  internal/hmyapi/apiv2/types.go
  internal/hmyapi/apiv2/util.go
  internal/hmyapi/backend.go
  node/rpc.go
  rpc/blockchain.go
  rpc/common/hacks.go
  rpc/common/types.go
  rpc/contract.go
  rpc/debug.go
  rpc/error.go
  rpc/filters/api.go
  rpc/filters/filter.go
  rpc/filters/filter_criteria.go
  rpc/filters/filter_system.go
  rpc/harmony.go
  rpc/net.go
  rpc/pool.go
  rpc/rpc.go
  rpc/staking.go
  rpc/transaction.go
  rpc/types.go
  rpc/v1/legacy.go
  rpc/v1/types.go
  rpc/v2/legacy.go
  rpc/v2/types.go
Labels: rpc

#3269 Fix number return types of all RPCs
  rpc/types.go
Labels: bug, rpc
