Repository harmony-one/harmony, pull requests merged in 2020-03, with the labels that each got.

#2342 [availability] Count availability for shard chain, more log, remove error of div by zero as error condition
  consensus/votepower/roster.go
  core/offchain.go
  core/state_processor.go
  internal/chain/engine.go
  internal/chain/reward.go
  node/node_handler.go
  shard/shard_state.go
  staking/availability/measure.go
  staking/availability/measure_test.go
Labels: core

#2343 Add and fix missing txn/staking txn rpc apis
  hmy/api_backend.go
  internal/hmyapi/apiv1/backend.go
  internal/hmyapi/apiv1/transactionpool.go
  internal/hmyapi/apiv1/util.go
  internal/hmyapi/apiv2/backend.go
  internal/hmyapi/apiv2/transactionpool.go
  internal/hmyapi/apiv2/types.go
  internal/hmyapi/apiv2/util.go
  internal/hmyapi/backend.go
Labels: block-explorer-backend, block-explorer-frontend, rpc

#2372 [availability] Adjust design to set active field on each block
  internal/chain/engine.go
  staking/availability/measure.go
  staking/availability/measure_test.go
Labels: core

#2434 [webhooks] Additional support for downstream monitoring
  cmd/harmony/main.go
  internal/configs/node/config.go
  node/node.go
  node/node_handler.go
  staking/slash/webhook.example.yaml
  webhooks/webhook.example.yaml
  webhooks/yaml.go
Labels: devops, enhancement

#2396 [staking][validation][protocol]
  cmd/harmony/main.go
  consensus/consensus_service.go
  consensus/construct_test.go
  consensus/engine/consensus_engine.go
  consensus/leader.go
  consensus/quorum/one-node-one-vote.go
  consensus/quorum/one-node-staked-vote.go
  consensus/quorum/one-node-staked-vote_test.go
  consensus/quorum/quorum.go
  consensus/threshold.go
  consensus/view_change.go
  consensus/votepower/roster.go
  core/blockchain.go
  core/chain_makers.go
  core/offchain.go
  core/staking_verifier.go
  core/state/statedb.go
  hmy/api_backend.go
  internal/chain/engine.go
  internal/chain/reward.go
  internal/hmyapi/apiv1/transactionpool.go
  internal/hmyapi/apiv2/transactionpool.go
  node/double_signing.go
  node/node.go
  node/node_cross_link.go
  node/node_genesis.go
  node/node_handler.go
  node/node_newblock.go
  node/worker/worker.go
  shard/committee/assignment.go
  shard/shard_state.go
  staking/availability/measure.go
  staking/effective/eligible.go
  staking/slash/double-sign.go
  staking/slash/double-sign_test.go
  staking/types/messages.go
  staking/types/validator.go
  staking/types/validator_test.go
  staking/verify/verify.go
Labels: core

#2581 support config file and environment variable by the viper lib
  cmd/harmony/main.go
  go.mod
  internal/configs/viper/viper_config.go
Labels: enhancement
