Repository harmony-one/harmony, pull requests merged in 2025-01, with the labels that each got.

#4812 Updated function descriptions
  internal/configs/sharding/instance.go
  internal/configs/sharding/shardingconfig.go
  p2p/stream/protocols/sync/message/compose.go
Labels: minor

#4826 Enhance P2P Streams with Reserved Stream Replacement
  p2p/stream/common/streammanager/config.go
  p2p/stream/common/streammanager/interface_test.go
  p2p/stream/common/streammanager/streammanager.go
  p2p/stream/common/streammanager/streammanager_test.go
  p2p/stream/common/streammanager/streamset.go
Labels: libp2p, stream-sync

#4825 Moved several consensus fields to state struct.
  consensus/checks_test.go
  consensus/consensus.go
  consensus/consensus_service.go
  consensus/consensus_service_test.go
  consensus/consensus_test.go
  consensus/consensus_v2.go
  consensus/construct.go
  consensus/construct_test.go
  consensus/debug.go
  consensus/leader.go
  consensus/reward/schedule.go
  consensus/reward/schedule_test.go
  consensus/signature/signature_test.go
  consensus/state.go
  consensus/state_test.go
  consensus/threshold.go
  consensus/validator.go
  consensus/view_change.go
  consensus/view_change_test.go
  consensus/votepower/roster_test.go
  internal/chain/supply.go
  staking/network/reward.go
Labels: refactor, ready-to-merge, test-coverage
